<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="con">
        <div class="con2">
  <h1>Sign Up</h1>
  <form action="/api/signup" method="POST">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="tel" name="phone_number" placeholder="Phone Number"><br>
    <button type="submit">Sign Up</button>
  </form>
</div></div>
</body>
</html>
