<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="con">
  <h1>Welcome to the Questionnaire API</h1>
    <p>Sign up or log in to get started.</p>
    <h2><a href="/signup">Sign Up</a><br></h2>
    <h2><a href="/login">Log In</a></h2>
</div>
</body>
</html>
